@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    font-family: 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    border: 2px solid rgb(14, 187, 86);
    border-radius: 3px;
    padding: 4%;
    position: relative;
    top: 150px;
    background: #1ce65f12;
}

.form-group{
    padding-bottom: 4%;
}

label{
    margin-right: 3%;
}

input {
    height: 30px;
    border-radius: 3px;
    border-color: rgb(14, 187, 86);
    background: #1ce65f12;
}

input[placeholder]{
    padding: 5px;
}